@import "tailwindcss";

html{
  scroll-behavior:smooth;
}

body{
  margin:0;
  font-family:Inter, sans-serif;
  background:#ffffff;
  color:#222;
}
.section-tag {
    color: #ffffff!important;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 14px;
    font-weight: 700;
  }